<!-- 热映轮播start -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>

              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="assets/img/1.jpg" alt="...">

                </div>
                <div class="item">
                  <img src="assets/img/2.jpg" alt="...">

                </div>
                <div class="item">
                  <img src="assets/img/3.jpg" alt="...">

                </div>
                <div class="item">
                  <img src="assets/img/4.jpg" alt="...">

                </div>
                <div class="item">
                  <img src="assets/img/5.jpg" alt="...">

                </div>
                <div class="item">
                  <img src="assets/img/6.jpg" alt="...">

                </div>
                <div class="item">
                  <img src="assets/img/7.jpg" alt="...">

                </div>

              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="" ng-click="prev()" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="" role="button" ng-click="next()" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        <!-- 热映轮播end -->

        <!-- 热门分类start -->
        <nav class="navbar navbar-default hidden-xs hidden-sm bacc">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav category">

                <li><h3>热门分类</h3></li>
                <li><a href="#/search?q=动作">动作</a></li>
                <li><a href="#/search?q=喜剧">喜剧</a></li>
                <li><a href="#/search?q=爱情">爱情</a></li>
                <li><a href="#/search?q=惊悚">惊悚</a></li>
                <li><a href="#/search?q=青春">青春</a></li>
              </ul>


            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <!-- 热门分类end -->

        <!-- 主内容start -->
        <div class="main" ng-controller="home_page_ctrl">
          <!-- 新片速递start -->
          <div class="new_movie" id="in_theaters">
            <h2>新片速递</h2>
            <span class="left visible-lg">&lt;</span>
            <span class="right visible-lg">&gt;</span>
            <div class="row" style="width:3000px">
              <div to-top class="col-xs-6 col-sm-3 col-lg-1" ng-repeat="item in data_in_theaters.subjects.slice(0,12)">
                <div class="thumbnail" brief movieId={{item.id}}>
                  <a href="#/subject/{{item.id}}"><img ng-src="{{item.images.large}}" height="400" alt="..."></a>
                  <div class="caption">
                    <p class="clearfix"><span class="fl">{{item.title}}</span><span class="fr">{{item.rating.average}}</span></p>
                    <p>类型：<a href="#/search?q={{genre}}" ng-repeat="genre in item.genres"><span class="des">{{genre}}</span></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 新片速递end -->

          <!-- 即将上映start -->
          <div class="new_movie" id="coming_soon">
            <h2>即将上映</h2>
            <span class="left visible-lg">&lt;</span>
            <span class="right visible-lg">&gt;</span>
            <div class="row" style="width:3000px">
              <div to-top class="col-xs-6 col-sm-3 col-lg-1" ng-repeat="item in data_coming_soon.subjects.slice(0,12)">
                <div class="thumbnail" brief movieId={{item.id}}>
                  <a href="#/subject/{{item.id}}"><img ng-src="{{item.images.large}}" height="400" alt="..."></a>
                  <div class="caption">
                    <p class="clearfix"><span class="fl">{{item.title}}</span><span class="fr">{{item.rating.average}}</span></p>
                    <p>类型：<a href="#/search?q={{genre}}" ng-repeat="genre in item.genres"><span class="des">{{genre}}</span></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 即将上映end -->

          <!-- 热播影片start -->
          <div class="new_movie" id="top250">
            <h2>经典影片</h2>
            <span class="left visible-lg">&lt;</span>
            <span class="right visible-lg">&gt;</span>
            <div class="row" style="width:3000px">
              <div to-top class="col-xs-6 col-sm-3 col-lg-1" ng-repeat="item in data_top250.subjects.slice(0,12)">
                <div class="thumbnail" brief movieId={{item.id}}>
                  <a href="#/subject/{{item.id}}"><img ng-src="{{item.images.large}}" height="400" alt="..."></a>
                  <div class="caption">
                    <p class="clearfix"><span class="fl">{{item.title}}</span><span class="fr">{{item.rating.average}}</span></p>
                    <p>类型：<a href="#/search?q={{genre}}" ng-repeat="genre in item.genres"><span class="des">{{genre}}</span></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 热播影片end -->




        </div>
        <!-- 主内容end -->